.product-list {
    .top-product-list {
        height: 80px;
    }

    .header-fitler {
        font-weight: bold;
        font-size: 16px;
    }

    .col-product {
        margin: 15px 30px 15px 0px;
    }

    .header-fitler {
        margin: 20px 0 20px 0;
    }

    .bottom {
        height: 60px;
    }
}