.category-fitler {
  margin-top: 5px;

  .ant-list-header {
        color: #ff6900;
        font-weight: 500;
  }

  .ant-list-items {
    .ant-list-item {
      border-color: white;
      color: #4d4d4d;
    }
  }
}
