.header-customer {
    width: 100%;

    .top {
        height: 69px;
        display: flex;

        .space-start {
            width: 9%;
        }

        .left {
            width: 21%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .search-customer {
                width: 30%;
            }
        }
       
        .center {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                width: 96px;
                height: 20px;
            }
        }

        .right {
            width: 21%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .account-customer {
            }

            .cart {
              margin-left: 27px !important;
            }
        }
       
        .space-end {
            width: 9%;
        }
    }

    .bottom {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ececec;
    }
}