.product-info {
  .body-page {
    padding: 40px 100px 60px 100px;

    .top-product-info {
        margin-bottom: 26px;
    }

    .contaiter-comment {
        padding: 0 100px 25px 100px;
    } 
  }
}
