.from-brand {
  .header {
      color: #202124;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 1.57;
  }

  .name-brand {
    font-weight: normal;
    color: #4d4d4d;
    line-height: 1.57;
    margin-bottom: 19px;
  }

  .image {
    height: 112px;
    width: 100%;
    margin-bottom: 10px;
  }
}
