.product {
    width: 175px;
    height: 340px;
    .ant-card {
        .ant-card-body {
           padding: 10px 0 24px 0;


           .ant-card-meta-title {
               margin-bottom: 3px;
           }
        }
    }
}