.product {
    width: 100%;
    height: 340px;
    
    .ant-card {
        width: 100%;
        .ant-card-body {
           padding: 10px 0 24px 0;


           .ant-card-meta-title {
               margin-bottom: 3px;
           }
        }
    }
}