.btn-login {
    .ant-btn {
        width: 120px;
        height: 35px;
        border-radius: 100px !important;
        color: #ffa15f !important;
        border-color: #ffa15f !important;
        font-weight: bold !important;
    }
}