.footer-customer {
    height: 185px;
    display: block;

    .top {
        height: 121px;
        width: 100%;
        border: 1px solid #ececec;
        display: flex;

        .space-start {
            width: 9%;
        }

        .left {
            width: 16%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .logo {
                width: 96px;
                height: 20px;
            }
        }

        .center {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    margin: 5px;
                    width: 75px;
                    font-size: 14px;
                    color: #b7b7b7;
                    text-align: center;
                }
            }
        }

        .right {
            width: 16%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            .icon {
                margin-right: 10px;
            }
        }

        .space-end {
            width: 9%;
        }
    }

    .bottom {
        height: 64px;
        width: 100%;
        border: 1px solid #ececec;
        display: flex;

        .space-start {
            width: 9%;
        }

        .left {
            width: 42%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    margin: 18px !important;
                    margin: 12px;
                    font-size: 12px;
                    color: #b7b7b7;
                }

                .start {
                    margin-left: 0 !important;
                }
            }
        }

        .right {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    margin: 18px !important;
                    margin: 12px;
                    font-size: 12px;
                    color: #b7b7b7;
                }

                .end {
                    margin-right: 0 !important;
                }
            }
        }

        .space-end {
            width: 9%;
        }

    }
}