.product-add-page {
  height: 100vh;
  background-color: #ededed;

  .container-content {
    .container-header {
      height: 48px;
      padding: 0 20px;

      .container-titler {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        color: #acacac;
      }

      .container-datapicker {
        height: 100%;
      }

      .container-search {
        height: 100%;
      }

      .container-btn {
        height: 100%;
        padding-left: 20px;
        .btn-primary {
          width: 100%;
          height: 100%;
          border-radius: 0;
          background-color: white;
          border: 1px solid #cccccc;
          font-size: 14px;
          font-weight: 500;
          color: #3d3d3f;
        }
      }
    }

    .container-props {
      padding: 32px 20px;
      height: 100%;

      .container-photos {
        height: 180px;
        .ant-upload-list-picture-card {
          .ant-upload-list-picture-card-container {
            height: 270px;
            width: 180px;
            .ant-upload-list-item {
              height: 100%;
              width: 100%;
            }
          }
        }

        .ant-upload.ant-upload-select-picture-card {
          height: 270px;
          width: 180px;
        }
      }

      .name-props {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #202124;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.17;
      }
    }
  }
}
