.fitler {
  .ant-menu {
    border-color: white;

    .ant-menu-submenu {
      .ant-menu-submenu-title {
        border-color: #4d4d4d !important;
        padding: 0 0 0 0 !important;
        color: #3d3d3f;
        font-size: 14px;
        font-weight: 500;

        &:hover {
          .ant-menu-submenu-arrow::before,
          .ant-menu-submenu-arrow::after {
            background: #ffa15f;
          }

          color: #ffa15f;
        }
      }
    }
  }
}
