.sub-category {
  margin-top: 9px !important;
  width: 620px;

  .ant-card-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88.4px;
    height: 55px;
    padding: 0px;
  }
}
